     <div class="row footer hide-for-small-only">
          <div id="footer">
            <div class="container">
              <div class="small-12 medium-7 medium-push-1 columns">
                  <div class="persona-holder">
                      <h6>
                          <strong>Wouter Biegstraaten</strong>
                      </h6>
                      <p>
                          He designs and builds your websites, microsites or digital magazines. Anything that needs a digital pulse. Will run a digital campaign if you need to - or manage it. Also skilled in traditional print like posters, leaflets or magazines. Or icons. Flexible with a number of tools. Thinks cross-media and loves a challenge.
                      </p>
                  </div>
              </div>

              <div class="small-12 medium-4 columns">
                  <div cass="contact-holder">
                      <a class="contact" href="tel:+31648509525" title="Call him for a chat or an offer he can't refuse">
                          <i class="fi-telephone"></i>
                      </a>

                      <a class="contact" target="_self" href="https://nl.linkedin.com/in/wouterbiegstraaten" title="What has he done?">
                          <i class="fi-social-linkedin"></i>
                      </a>

                      <a class="contact" href="cv/cv_wouterbiegstraaten_en.pdf" title="Show me his resume">
                          <i class="fi-download"></i>
                      </a>
                  </div>
              </div>
            </div>
          </div>
      </div>