
<div class="large reveal" id="ta-complete" data-reveal>
      <div class="row wide">
          <div class="large-6 columns">
                <img src="beeld/TA01.jpg" alt="Tennis Australia 01">
          </div>
          <div class="large-6 columns">
                <img src="beeld/TA02.jpg" alt="Tennis Australia 02">
          </div>
      </div>
      <br>
      <div class="row wide">
          <div class="large-6 columns">
                <img src="beeld/TA03.jpg" alt="Tennis Australia 03">
          </div>
          <div class="large-6 columns">
                <img src="beeld/TA04.jpg" alt="Tennis Australia 04">
          </div>
      </div>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="large reveal" id="Flinqer-complete" data-reveal>
      <div class="row wide">
          <div class="large-6 columns">
            <img class="th" src="beeld/flinqer01.jpg" data-img="flinqer01.jpg">
          </div>
          <div class="large-6 columns">
            <img class="th" src="beeld/flinqer02.jpg" data-img="flinqer02.jpg">
          </div>
      </div>
      <br>
      <div class="row wide">
          <div class="large-6 columns">
                <img src="beeld/flinqer03.jpg" alt="flinqer03.jpg">
          </div>
          <div class="large-6 columns">
                <img src="beeld/flinqer04.jpg" alt="flinqer04.jpg">
          </div>
      </div>
      <hr>
      <div class="row wide">
          <div class="large-6 columns">
                <img src="beeld/flinqer05.jpg" alt="beeld/flinqer05.jpg">
          </div>
          <div class="large-6 columns">
                <img src="beeld/flinqer06.jpg" alt="beeld/flinqer06.jpg">
          </div>
      </div>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="large reveal" id="tg-complete" data-reveal>
      <div class="row wide">
          <div class="large-6 columns">
            <img class="th" src="beeld/dm01.jpg" data-img="dm01.jpg">
          </div>
          <div class="large-6 columns">
            <img class="th" src="beeld/dm02.jpg" data-img="dm02.jpg">
          </div>
      </div>
      <br>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="large reveal" id="Rimmel-complete" data-reveal>
      <div class="row wide">
          <div class="large-6 columns">
                <img src="beeld/rimmel01.jpg" alt="Rimmel 01">
          </div>
          <div class="large-6 columns">
                <img src="beeld/rimmel03.jpg" alt="Rimmel 03">
          </div>
      </div>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
