        <div class="row">
          <div class="small-12 columns client-holder">
            <h4 class="client-headline sample-headline">
              A few samples
            </h4>
          </div>
        </div>

        <div class="row">
          <div class="small-12 columns">
            <article class="website-example wide">
              <div class="row client-holder">
                  <div class="large-5 columns">
                        <img src="beeld/TA01.jpg" alt="Tennis Australia 01">
                  </div>
                  <div class="large-7 columns">
                    <h3 class="client-headline">Tennis Australia</h3>
                    <h6 class="client-short">Built with Bootstrap, jQuery, Php. <br>Responsible for design, icons and frontend</h6>
                    <p class="client-description">
                       Datawiresport is the provider of smart sportsdata - from football to Formula-1 operating in different countries. Datawiresport delivers data including the build, host, maintainance and service; all in-house. Very competitive in a growing market. This project was for their client Tennis Australia and included a player  portal, a team captains portal and a matching app. Competitions created in the team captian portal are directly fed into the public portall for all (logged in) players to see.
                    </p>
                    <a class="button" href="#TA" data-open="ta-complete">Take a Closer Look »</a>
                  </div>
              </div>
            </article>
          </div>
        </div>

        <div class="row">
          <div class="small-12 columns">
            <article class="website-example wide">
              <div class="row client-holder">
                  <div class="large-5 columns">
                      <img class="th" src="beeld/flinqer01.jpg" data-img="flinqer01.jpg">
                  </div>
                  <div class="large-7 columns">
                    <h3 class="client-headline">Flinqer</h3>
                    <h6 class="client-short">Built with Foundation, jQuery, Php, sass. <br>Responsible for design, icons and frontend</h6>
                    <p class="client-description">
                    Flinqer is a network of companies optimizing the use of available cash. Flinqer matches required discounts by buyers to pay an(y) outstanding invoice immediately with offered discounts by suppliers to get paid immediately – at beneficiary terms for all. Thus becoming less dependent on banks but making cash flow where and when it is needed most at the lowest of costs.
                    </p>
                    <a class="button" href="#Flinqer" data-open="Flinqer-complete">Take a Closer Look »</a>
                  </div>
              </div>
            </article>
          </div>
        </div>

        <div class="row">
          <div class="small-12 columns">
            <article class="website-example wide">
              <div class="row client-holder">
                  <div class="large-5 columns">
                        <img src="beeld/dm01.jpg" alt="Telegraaf 01">
                  </div>
                  <div class="large-7 columns">
                    <h3 class="client-headline">De Telegraaf | Direct Mail Campaigns</h3>
                    <h6 class="client-short">Built with MediaQueries, jQuery, Php. <br>Responsible for design, icons and frontend</h6>
                    <p class="client-description">
                       Responsible for creating visuals using photoshop and illustrator. Build and developed responsive sites using Html5, Css (Sass), jQuery and mediaqueries. Email targeting + banners. Short run campaigns. High volume direct marketing campaigns.
                    </p>
                    <a class="button" href="#TG" data-open="tg-complete">Take a Closer Look »</a>
                  </div>
              </div>
            </article>
          </div>
        </div>

        <div class="row">
          <div class="small-12 columns">
            <article class="website-example wide">
              <div class="row client-holder">
                  <div class="large-5 columns">
                      <img class="th" src="beeld/rimmel01.jpg" data-img="rimmel01.jpg">
                  </div>
                  <div class="large-7 columns">
                    <h3 class="client-headline">Rimmel | TLC</h3>
                    <h6 class="client-short">Built with Foundation, jQuery, Php, sass. <br>Responsible for design, frontend and Copernica</h6>
                    <p class="client-description">
                    TLC aired these makeup shorts between its regular programs. These shorts were sponsored by the make up brand Rimmel. For these particular shorts the makeup blogger Cynthia was involved in giving the makeup advice.
                    </p>
                    <a class="button" href="#Rimmel" data-open="Rimmel-complete">Take a Closer Look »</a>
                  </div>
              </div>
            </article>
          </div>
        </div>


